
<% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: key) %>
<% end %>

<div class="show-contents">
    <div class="show-contents-item">
        <p><span class="bold">Title:　</span><%= @book.title %></p>
    </div>
    <div class="show-contents-item">
        <p><span class="bold">Body:　</span><%= @book.body %></p>
    </div>
</div>
<div class="show-link">
    <%= link_to "Edit", edit_book_path(@book.id) %>
    ｜
    <%= link_to "Back", index_path %>
</div>